#root {
  max-width: 1300px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.section-container {

}

.periodic-container {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(9, 1fr);
  gap: 0.5rem;
}

@media (max-width: 1100px) {
  .periodic-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
