section-container {
  margin-top: 4rem;
  flex-direction: column;
  height: 100vh;
}

.header-container {
  display: flex;
  justify-content: center;
  opacity: 0;
  animation: fadeInLetter 2s forwards;
}

.product-wrapper {
  margin-left: 1rem;
}

.reaction-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.reaction-container img {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
  border-radius: 0.2rem;
}

.reactant {
  width: 65px;
  height: 65px;
  border: transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.2rem;
}

.reactant > div:first-child {
  transform: rotateY(180deg);
  animation: rotateAnimation 0.4s linear forwards;
}

.operators {
  font-size: 2rem;
}

.result {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  margin-top: 2rem;
}

.result > h3 {
  margin: 0;
}

.periodic-container {
  margin: 0 auto;
}

.periodic-container > li:first-child {
  box-shadow: 1px 1px 20px blue;
  animation: glow 3s linear infinite;
}

@keyframes fadeInLetter {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(-25%);
  }
}

@keyframes glow {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
